// fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,700;1,400&display=swap');

// color variables
$darkbrown: #523e3e;
$offwhite: #f7f7ee;
$darkblue: #0A2F58;
$lightblue: #94CFE3;
$xtralightblue: #C2E3EA;
$pink: #FBBEB4;
$yellow: #FDBD01;
$red: #F4856F;
$darkred: #ED5848;
$lightyellow: #F7E9A0;
$grey: #4F5353;
$transblue: rgba(49, 68, 85, 0.7);
$transoffwhite: rgba(247, 247, 238, 0.2);

// font variables

$josefin: 'Josefin Sans', sans-serif;
$dmSans: 'DM Sans', sans-serif;


// mixins

@mixin videoHeading($sizeValue) {
    font-size: $sizeValue;
    color: $darkblue;
    font-family: 'DM Sans', sans-serif;
}

@mixin subHeading($sizeValue) {
    font-size: $sizeValue;
    color: $grey;
    font-family: 'Josefin Sans', sans-serif;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    color: $darkbrown;
    font-family: 'Josefin Sans', sans-serif;
}

@mixin paragraphDM($sizeValue) {
    font-size: $sizeValue;
    color: $darkbrown;
    font-family: $dmSans;
    line-height: 3rem;
}

// media queries

@mixin bigTabletMQ {
    @media (max-width: 1170px) {
    @content;
    }
}

@mixin tabletMQ {
    @media (max-width: 950px) {
    @content;
    }
}

@mixin smallTabletMQ {
    @media (max-width: 867px) {
        @content;
    }
}

@mixin bigPhoneMQ {
    @media (max-width: 693px) {
        @content;
    }
}

@mixin phoneMQ {
    @media (max-width: 585px) {
        @content;
    }
}

@mixin smallPhoneMQ {
    @media (max-width: 525px) {
        @content;
    }
}

    