@import './partials/setup';
@import './partials/variables';

body {
    background-color: $offwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    min-width: 100%;
}

.main-content {
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: aliceblue;
    height: 20vh;

    .footer-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    p {
        @include paragraph(1.4rem);
    }
}

h1 {
    @include monoFont(4.5rem);
    margin: 0;
    padding: 5%;

    span {
        display: block;
        border-right: 2px solid $darkbrown;
        padding: 10px 0;
    }

    span:last-of-type {
        border-bottom: 3px solid $darkbrown;
        padding: 10px 0;
        box-shadow: 10px 10px 10px $darkbrown;
    }
}

.home-header {
    display: flex;
}

.landing-image {
    background-image: url(../src/images/zealand.jpg);
    width: 60%;
    background-size: cover;
    height: 100vh;
}

.landing-header-container {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: left;
    margin-top: 100px;

    nav {
        text-align: left;
        width: 50%;
    }

    li {
        padding: 10px 0;
        a {
            color: $darkbrown;
            transition: all .2s ease-in-out;
            
            &:hover, &:focus {
                color: $lightblue;
                cursor: pointer;
                position: relative;
                right: 5px;
            }
        }
    }
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin: 10px 0 0 40px;

    h2 {
        @include monoFont(3rem);
        span {
            display: block;
        }
    }

    a {
        color: $darkbrown;
    }
}

// Nav Bar

.nav-bar {
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    left: 40%;
    
    ul {
        display: flex;
        justify-content: space-around;

        li {
            padding: 10px;
            @include paragraph(1.7rem);
        }

        a {
            color: $darkbrown;

            &:hover, &:focus {
                color: $lightblue;
            }
        }

        .nav-active {
            color: grey;
        }
        
    }
}

// Finance Section

p {
    @include paragraph(2rem);

}