@import './partials/setup';
@import './partials/variables';

body {
    background-color: $transoffwhite;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.4rem;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    @include bigPhoneMQ {
        width: 95%;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    background-color: transparent;
    border-radius: 70%;
    font-size: 5rem;
    transition: all .3s ease-in-out;
    left: 15px;
    bottom: 10px;
    cursor: pointer;
    z-index: 10000;

    &:hover,
    &:focus {
        color: $aqua;
        font-size: 6rem;
    }

}

footer {
    width: 100%;
    background-color: $transdarkred;
    height: 30vh;

    @include phoneMQ {
        height: 60vh;
    }

    .footer-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 30vh;

        @include phoneMQ {
            flex-direction: column;
            height: 60vh;
        }
    }

    .to-top {
        cursor: pointer;

        svg {
            font-size: 7rem;
            padding: 10px;
        }

        p {
            position: relative;
            bottom: 20px;
            right: 8px;
            font-size: 1.6rem;
        }
    }
    
    p {
        @include paragraph(2rem);
        color: $darkblue;
    }

    svg {
        color: $darkblue;
        transition: all .2s ease-in-out;
    }

    svg:hover {
        color: $lightblue;
        transform: scale(1.3);
    }

    .social-container {
        display: flex;

        li {
            padding: 20px;
            font-size: 3rem;
        }

        li:hover, li:focus {
            color: $red;
        }

        .youtube-footer {
            font-size: 6rem;
            position: relative;
            bottom: 14px;
        }
    }
}

.landing-image {
    // background-image: linear-gradient(to bottom, $transoffwhite, $transoffwhite 85%, white), url(../src/images/emerge-bg.png);
    // background-image: url(../src/images/emerge-bg.png);
    width: 100%;
    background-size: cover;
    height: 100vh;
    // margin: 0 auto;
    // background-position: center center;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
    }
    40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    }
    60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    }
}

.landing-header-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;

    @include smallTabletMQ {
        width: 70%;
    }

    @include phoneMQ {
        width: 90%;
    }

    h1 {
        margin: 0;
        width: 100%;
        padding-bottom: 30%;
        
        img {
            width: 100%;
            min-width: 400px;
            display: inline-block;

            @include phoneMQ {
                min-width: 200px;
            }
        }
    }

    .main-header-text {
        position: absolute;
        top: 500px;

        @include phoneMQ {
            display: none;
        }
    }

    p {
        @include subHeading(3rem);
        bottom: 200px;
        width: 700px;
        min-width: 500px;
        text-align: center;

        @include smallTabletMQ {
            font-size: 2rem;
            width: 10%;
        }

    } 

    button {
        @include subHeading(4rem);
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-top: 100px;
        outline: none;

        svg {
            animation: bounce 3s infinite;
            color: $red;
        }
    }

    button:hover {
        color: $red;
    }
        
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;

    h2 {
        margin: 0;
        position: relative;
        bottom: 45px;
        width: 50%;

        img {
            width: 20%;
            min-width: 200px;
        }

    }

}


// Nav Bar 

.nav-bar {
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tabletMQ {
        background-color: transparent;
    }

    h2 {
        padding-left: 100px;
        padding-top: 100px;
        color: $offwhite;
        width: 300px;

        img {
            width: 30%;
            opacity: .7;
            padding-top: 20px;
        }

        @include tabletMQ {
            display: none;
        }
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }
        
        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }
        
        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
    
    .burger {
        position: fixed;
        left: 80%;
        width: 100px;
        height: 100px;
        cursor: pointer;
        padding-right: 50px;
        transition: all .3s ease-in-out;
        padding: 100px;

        @include bigTabletMQ {
            left: 70%;
        }

        @include phoneMQ {
            left: -60px;
        }

        &:hover {
            opacity: .7;
        }

        .menu {
            width: 50px;
            height: 6px;
            border-radius: 5px;
            transition: all .5 ease-in-out;
            background: $aqua;
            box-shadow: 5px 5px 5px black;
        }

        .menu:before, .menu:after {
            content: "";
            position: absolute;
            width: 50px;
            height: 6px;
            background: $aqua;
            border-radius: 5px;
            box-shadow: 5px 5px 5px black;
            transition: all .5s ease-in-out;
        }

        .menu:before {
            transform: translateY(-16px);
        }

        .menu:after {
            transform: translateY(16px);
        }
        
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        transition: all .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        background-color:  rgba(49, 68, 85, 0.7);
        transform: translateX(-1600px);
        height: 100vh;
        margin-top: 0;
        width: 50%;
        padding: 100px 5%;
        flex-direction: column;
        text-align: left;

        @include tabletMQ {
            align-items: center;
            width: 100%;
        }

        li {
            padding: 20px;
            @include paragraph(2rem);
            padding: 20px;


            svg {
                color: $lightblue;
                font-size: 6rem;
                cursor: pointer;
                transition: all .2s ease-in-out;
            }

            svg:hover {
                color: $yellow;
                transform: scale(1.15);
                transform: rotate(90deg);
            }

        }

        a {
            @include paragraphDM(3.5rem);
            color: $lightblue;
            &:hover, &:focus {
                color: $yellow;
            }

        }

        .nav-active {
            color: $red;
        }
        
    }
}


// General font styles

p {
    @include paragraphDM(2rem);
}

h4 {
    @include videoHeading(2.5rem);
    color: $red;
}

h2 {
    @include videoHeading(3rem);
    color: $red;
}

h3 {
    @include videoHeading(2rem);
    color: $red;
}

// Intro Video Section

.intro-video {
    
    .intro-video-section {
        width: 70%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include smallTabletMQ {
        height: auto;
    }

    .intro-video-container {
        width: 100%;
        height: 100vh;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 0;
        padding-bottom: 56.25%;
        padding-top: 80px;

        iframe {
            height: 90%;
            position: absolute;
            width: 100%;
            box-shadow: 2px 2px 10px $darkblue;
            border: 4px solid $darkblue;
        }
        
    }

    .andrew-karis-video, .camille-matthews-video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 100px 0;
        margin-right: 20px;
        
        iframe {
            position: absolute;
            width: 100%;
            box-shadow: 2px 2px 10px $darkblue;
            border: 4px solid $darkblue;
        }
    }

    button {
        @include subHeading(3rem);
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: rotate(90deg);
        svg {
            color: $red;
        }
    }

    button:hover {
        color: $red;
    }
}

.home-intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: $red;

    h2 {
        color: $darkblue;
    }

    p {
        @include paragraphDM(1.8rem);
        color: $darkblue;
    }

    p:last-child {
        color: $darkbrown;
        font-style: italic;
    }

    .home-intro-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        background-color: $lightblue;
        padding: 60px;
        box-shadow: 20px 20px 5px $yellow;
        border-radius: 4px;
    }
}

.home-question-one {
    font-family: $josefin;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $lightblue;

    .question-one-container {

        background: $body;
        padding: 50px;

        span {
            font-style: bolder;        
        }
        
        h2 {
            margin: 0;
            font-size: 2rem;
        }
        
        p {
            @include paragraphDM(2rem);
            padding: 20px;
        }
    }

}

.group-member-background {
    height: 100vh;
    background: $darkblue;
}

.group-member-section {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

    @include phoneMQ {
        flex-direction: column;
        justify-content: center;
    }

    .home-bottom-nav {
        display: flex;

        li {
            padding: 50px 70px 0 0;

            svg {
                font-size: 3rem;
                color: $red;
                transition: all .2s ease-in-out;
            }

            svg:hover, svg:focus {
                transform: scale(1.2);
                color: $lightblue;
            }

            .youtube {

                @include phoneMQ {
                    margin: 0;
                    padding: 0;
                }
                
                svg {
                    font-size: 5rem;
                    position: relative;
                    bottom: 10px;
                }
            }
        }
    }

    .group-members {
        width: 400px;

        p {
            @include paragraphDM(2rem);
            color: $red;
        }

        @include phoneMQ {
            width: 100%;
            padding-top: 150px;
        }

        a {
            @include paragraphDM(2rem);
            color: $lightblue;
            transition: all .2s ease-in-out;

            &:hover,
            &:focus {
                color: $yellow;
            }
        }
    }

    .get-started-container {
        width: 400px;
        display: flex;
        flex-direction: column;

        p {
            @include paragraphDM(3rem);
            color: $red;
        }

        @include phoneMQ {
            width: 200px;
        }
    }

    .get-started {
        font-style: italic;
    }

}

button {
    margin-top: 30px;
    border: none;
    background-color: $transblue;
    border-radius: 8px;
    color: $lightblue;
    font-size: 3rem;
    padding: 15px;
    border: 2px solid $transblue;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        opacity: .7;
        color: white;
    }

    &:active {
        opacity: .5;
        top: 5px;
    }
}

// Finance Section

.finance {
    margin: 0;

    .finance-yellow {
        background: $lightblue;
    }

    .finance-image {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        button {
            background: transparent;
            border: none;
            outline: none;
            font-size: 5rem;
            position: absolute;
            bottom: 0;
            left: 90%;
            margin: 0;
        }

        .finance-image-container {
            background-color: $transbackground;
            padding: 100px;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 100%;
                border-radius: 10px;
            }

            h1 {
                @include heading(5rem);
                text-transform: uppercase;
                text-align: center;
                color: $darkblue;
                text-shadow: 5px 5px 3px $red;
            }

        }

    }

    .grant-tips-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    
    }

    .grant-text-container {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        background-color: $transbackgroundlight;
        padding: 30px;

        h2 {
            color: $darkblue;
        }

        p {
            color: $darkblue;
            line-height: 3.4rem;
        }

        p:last-child {
            color: $darkbrown;
            font-style: italic;
        }
    }

    .grant-tips-section-two {

        width: 100%;
        margin: 200px 0;

        h2 {
            color: $darkblue;
        }

        .grant-text-container-two {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            background-color: $transbackgroundlight;
            padding: 30px;
            
            li {
                color: $red;
            }

            p {
                color: $darkblue;
            }
        }
    }
}

.sunny-section {
    height: 140vh;
    margin: 0;
    background-color: $lightblue;
}

.finance-video-list {
    height: 80%;
    width: 80%;
    margin: -100px 0;
    background-color: $lightblue;
    padding-top: 200px;
    margin-left: 10%;
    
    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 100px 0;

        h2 {
            color: $darkblue;
            margin: 0;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 2px 2px 10px $darkblue;
            border: 4px solid $darkblue;
        }
    }


}

// Recording 

.recording {
    height: 100vh;

    .lm-recording {

        h3 {
            font-size: 3.5rem;
            color: $lightblue;
            margin: 0;
        }

        p {
            color: $darkblue;
        }

        .lm-recording-text-head {
            margin-bottom: -30px;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .lm-logo {
            display: flex;
            justify-content: center;
            align-items: center;

            .lm-logo-container {
                display: flex;
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 40%;
                height: 100%;
            }

            .emerge-lm {
                width: 30%;
            }
        }

        .lm-background-one, .lm-background-two {
            width: 100%;
            background-color: $darkblue;
            padding: 100px 0;
        }

        .lm-background-one {
            margin-top: -100px;
        }

        .microphone, .cables, .speakers, .usb, .headphones, .midi, .microphone-stand {

            background-color: $body;
            margin: 100px 0;
            padding: 100px 0;

            li {
                width: 60%;
                padding-left: 4%;
            }

            a {
                color: $yellow;
                transition: all .2s ease-in-out;

                &:hover,
                &:focus {
                    color: $red;
                }
            }

            p {
                // color: $offwhite;
            }
        }

        .midi {

            .midi-container {
                width: 60%;
                padding-left: 4%;
            }
        }

        .usb {

            .usb-container {
                width: 60%;
                padding-left: 4%;
            }
        }
    }


    .lm-recording-text-head {
        background-color: $darkblue;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 5rem;
        }

        p {
            color: $red;
            font-size: 3rem;
            font-style: italic;
        }
    }
}

.first-recording-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    flex-wrap: wrap;

    @include bigTabletMQ {
        width: 100%;
        margin-bottom: 200px;
    }

    @include bigPhoneMQ {
        margin-bottom: 700px;
        padding-left: 10%;
    }

    @include phoneMQ {
        margin-bottom: 1600px;
    }

    @include smallPhoneMQ {
        margin-left: 0;
        padding-left: 0;
    }

    h2 {
        @include subHeading(4.8rem);
        text-transform: uppercase;

        span {
            display: block;
        }

        @include bigTabletMQ {
            font-size: 4rem;
        }
    }

    .recording-artist-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        z-index: 1;
        margin-top: 0;
        padding-bottom: 30px;

        @include smallTabletMQ {
            height: 700px;
            padding-bottom: 200px;
        }

        @include bigPhoneMQ {
            grid-template-columns: 1fr 1fr;
        }

        @include smallPhoneMQ {
            grid-template-columns: 1fr;
        }


        li {
            transition: all .2s ease-in-out;
            opacity: 1;
            position: relative;

            @include bigPhoneMQ {
                opacity: .9;
            }

            h5 {
                @include subHeading(3rem);
                color: white;
                opacity: 1;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 25%;
                top: 25%;
                visibility: hidden;
                transition: all .2s ease-in;
                width: 10%;

                @include bigTabletMQ {
                    font-size: 2.4rem;
                }

                @include bigPhoneMQ {
                    visibility: visible;
                }
            }

            .jill-zim-text {
                left: 10%;

                @include bigPhoneMQ {
                    left: 20%;
                }
            }
            
        }

        li:hover, li:focus {
            transform: scale(1.07);
            opacity: .7;
            cursor: pointer;

            h5 {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
            }
        }
        
        img {
            min-width: 200px;
            padding: 20px;
            border-radius: 40px;
            object-fit: scale-down;
            display: inline-block;

            @include smallTabletMQ {
                padding: 40px;
                border-radius: 70px;
                margin: 0;
            }

            @include phoneMQ {
                padding: 10px;
                border-radius: 40px;
            }

            @include smallPhoneMQ {
                padding: 20px;
            }
        }

    }

}

.quote-container-one {
    height: 70vh;
    background-color: $red;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        @include paragraphDM(4rem);
        color: white;
        line-height: 6rem;
        padding: 0;
        margin: 0;
    }

    p:last-child {
        padding-top: 60px;
        font-size: 2.5rem;
        font-style: italic;
    }
}

.quote-container-two {
    height: 70vh;
    background-color: $red;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tinyPhoneMQ {
        height: 100vh;
    }

    p {
        @include paragraphDM(4rem);
        color: white;
        line-height: 6rem;
        padding: 0;
        margin: 0;
    }

    p:last-child {
        padding-top: 60px;
        font-size: 2.5rem;
        font-style: italic;
    }
}

.erin-costelo-video, .josh-korody-video, .chris-stringer-video, .aaron-goldstein-video, .terra-video, .andy-video, .alysha-video {
    
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    @include bigTabletMQ {
        margin-left: 0;
    }

    @include smallTabletMQ {
        margin-left: 0;
    }

    h4 {
        padding-top: 90px;
        @include paragraphDM(3rem);
        color: $red;

        span {
            font-size: 2rem;
            display: block;
            padding-top: 10px;
            opacity: .8;
            font-style: italic;
        }
    }

    iframe {
        position: absolute;
        width: 70%;
        height: 70%;
        box-shadow: 2px 2px 10px $darkblue;
        border: 4px solid $darkblue;

        @include smallTabletMQ {
            border: none;
        }
    }

}

.erin-costelo-video {
    margin: 0;
    
    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }
}

.terra-video {
    margin: 0;

    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        padding-top: 200px;
    }
}

.josh-korody-video {
    background: $offwhite;
    margin: 0;

    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }
}

.chris-stringer-video {
    background: $red;
    margin: 0;

    @include smallTabletMQ {
        padding-bottom: 450px;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }

}

.aaron-goldstein-video {
    background: $yellow;
    margin: 0;
    
    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }
}

.andy-video {
    background: $red;
    margin: 0;

    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }
}

.alysha-video {
    background: $lightblue;
    margin: 0;

    @include smallTabletMQ {
        height: 100vh;
        padding-bottom: 800px;
    }

    h4 {
        color: $darkblue;
        padding-top: 200px;
    }
}

.jill-zim-video {
    height: 100vh;
    width: 100%;
    padding-left: 15%;

    @include bigTabletMQ {
        margin: 160px 0;
    }

    @include smallPhoneMQ {
        margin: 20px 0;
        // height: 70vh;
    }

    h4 {
        padding-top: 90px;
        @include paragraphDM(3rem);
        color: $darkblue;

        @include smallPhoneMQ {
            padding-top: 0;
            margin-top: 0;
        }

        span {
            font-size: 2rem;
            display: block;
            padding-top: 10px;
            opacity: .8;
            font-style: italic;
        }
    }

    iframe {
        position: absolute;
        width: 70%;
        height: 70%;
        box-shadow: 2px 2px 10px $darkblue;
        border: 4px solid $darkblue;

        @include smallTabletMQ {
            border: none;
        }
    }

    @include bigPhoneMQ {
        margin-top: 600px;
    }

    @include phoneMQ {
        margin-bottom: 230px;
    }

}

.recording-text {
    height: 100vh;
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bigPhoneMQ {
        height: 300vh;

    }

    .recording-text-container {
        background: $body;
        padding: 50px;

        h2 {
            @include paragraphDM(3rem);
            color: $red;
        }

        p {
            color: $darkblue;
        }

        p:last-child {
            color: $darkbrown;
            font-style: italic;
        }
    }
}

// Musicians 

.musicians {
    width: 100%;

    .musician-videos {
        background: $darkblue;
        margin: 0;
        width: 100%;
    }

    .musician-video-list {
        width: 100%;
        margin: 0;
    }

    .first-recording-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        padding-top: 20%;
        padding-bottom: 20%;
        flex-wrap: wrap;

        @include bigTabletMQ {
            padding: 100px;
        }

        @include smallTabletMQ {
            padding-left: 0;

        }

        @include bigPhoneMQ {
            height: 100vh;
            padding-top: 20%;
            margin-bottom: 40px;
        }

        @include tinyPhoneMQ {
            padding-top: 1200px;
            padding-bottom: 1200px;
        }

        @include smallPhoneMQ {
            padding-top: 90%;
            padding-bottom: 1300px;
        }

        @include phoneMQ {
            padding-bottom: 50%;
            padding-top: 90%;
        }
        
    
        h2 {
            @include subHeading(4.8rem);
            text-transform: uppercase;

            @include smallTabletMQ {
                font-size: 3rem;
                color: $offwhite;
                margin: 0 auto;
                padding-left: 30px;
            }

            @include smallPhoneMQ {
                display: none;
            }
    
            span {
                display: block;
            }
        }
    
        .recording-artist-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            z-index: 1;
            margin-top: 0;
            padding-bottom: 30px;
            width: 80%;
            background: $body;
            height: 95vh;


            @include tabletMQ {
                width: 95%;
            }

            @include smallTabletMQ {
                background: transparent;
            }

            @include bigPhoneMQ {
                grid-template-columns: 1fr 1fr;
                margin-bottom: 200px;
            }

            @include tinyPhoneMQ {
                padding-top: 1200px;
            }

            @include midPhoneMQ {
                grid-template-columns: 1fr 1fr;
                height: 140vh;
                padding-top: 300px;;
            }

    
            li {
                transition: all .2s ease-in-out;
                opacity: 1;
                position: relative;
                width: 100%;

    
                h5 {
                    @include subHeading(3rem);
                    color: white;
                    opacity: 1;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 25%;
                    top: 25%;
                    visibility: hidden;
                    transition: all .2s ease-in;
                    width: 10%;

                    @include smallTabletMQ {
                        font-size: 2rem;
                    }

                    @include phoneMQ {
                        visibility: visible;
                    }
                }
                
            }
    
            li:hover, li:focus {
                transform: scale(1.07);
                opacity: .7;
                cursor: pointer;
    
                h5 {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 0;
                }
            }
            
            img {
                min-width: 200px;
                padding: 20px;
                border-radius: 40px;
                object-fit: cover;
                display: inline-block;
            }
    
        }
    
    }

    .tips-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: $red;

        @include bigPhoneMQ {
            padding-top: 200%;
            padding-bottom: 200%;
            height: 20vh;
        }

        @include tinyPhoneMQ {
            padding-top: 250%;
            padding-bottom: 180%;
        }

        h2 {
            color: $darkblue;
        }

        p {
            @include paragraphDM(2rem);
            color: $darkblue;
        }

        p:last-child {
            color: $darkbrown;
            font-style: italic;
        }
    }

    .tips-text-container {
        width: 70%;
        background-color: $body;
        padding: 50px;
        z-index: 30000;
        
        @include smallPhoneMQ {
            width: 100%;
        }
    }

    .wade-macneil-video, .kyla-charter-video, .serena-video, .moscow-video, .cadence-video, .bahamas-video, .andy-shauf-video, .terra-lightfoot-video  {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        @include bigTabletMQ {
            margin-left: 0;
        }

        @include smallPhoneMQ {
            margin-bottom: 0;
        }

        h4 {
            padding-top: 90px;
            @include paragraphDM(3rem);
            color: $red;

            span {
                font-size: 2rem;
                display: block;
                padding-top: 10px;
                opacity: .8;
                font-style: italic;
            }
        }
    
        iframe {
            position: absolute;
            width: 80%;
            height: 80%;
            box-shadow: 2px 2px 10px $darkblue;
            border: 4px solid $darkblue;
        }
    }

    .wade-macneil {
        @include tinyPhoneMQ {
            margin-top: 400px;
        }
    }


    .wade-macneil-video, .bahamas-video, .andy-video {
        margin-bottom: 150px;

        @include phoneMQ {
            margin-bottom: 200px;
        }
    }

    .bahamas-video {

        margin-bottom: 0;
    }
        
    h4 {
        margin: 0;
        margin-bottom: 30px;
        padding-top: 100px;
        padding-left: 10%;

        span {
            font-size: 2rem;
            display: block;
            padding-top: 10px;
            opacity: .8;
            font-style: italic;
        }
    }

    .wade-macneil, .terra-lightfoot, .andy-shauf {
        color: $darkblue;
    }

    .quote-container-one {

        @include bigPhoneMQ {
            padding-top: 450px;
            padding-bottom: 400px;
        }
    }
    
}

// Booking 

.booking {

    .booking-container {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &::after {
            content: ""; 
            position: absolute;
            margin: 0 auto;
            top: 0;
            width: 80%;
            height: 100vh;
            background: white;
            opacity: .4;
            z-index: -23;
        }
    
        h2 {
            @include subHeading(4rem);
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 100px;
    
            span {
                display: block;
            }
        }

        .booking-landing-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $body;
            padding: 100px;

            h1 {
                @include heading(4.5rem);
                text-transform: uppercase;
                color: $darkblue;
                opacity: .8;
                text-shadow: 10px 5px 5px $red;
            }

            h2 {
                @include paragraphDM(3rem);
                margin-top: 0;
                text-transform: capitalize;
                color: $transblue;
            }
        }
    
        .booking-image-container {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            width: 100%;
            flex-wrap: wrap;       
            z-index: 1;
    
            li {
                transition: all .2s ease-in-out;
                opacity: 1;
                position: relative;
    
                h5 {
                    @include subHeading(3rem);
                    color: white;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 25%;
                    top: 25%;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .2s ease-in;
                    width: 10%;
                }
                
            }
    
            li:hover, li:focus {
                transform: scale(1.07);
                opacity: .7;
                cursor: pointer;
                
                h5 {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 0;
                }
            }
            
            img {
                width: 300px;
                height: 300px;
                min-width: 100px;
                padding: 40px;
                border-radius: 70px;
                object-fit: cover;
                display: inline-block;
            }

            .virginia {
                width: 100%;
                min-width: 100px;
                margin: 0;
            }

            .eric-warner {
                width: 100%;
                margin: 0;
            }

            .denholm {
                width: 100%;
                margin: 0;
            }
    
        }
    }

    .eric-warner-video, .denholm-video, .virginia-video {
    
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 100px 10%;

        h4 {
            padding-top: 90px;
            @include paragraphDM(3rem);
            color: $red;

            span {
                font-size: 2rem;
                display: block;
                padding-top: 10px;
                opacity: .8;
                font-style: italic;
            }
        }

        iframe {
            position: absolute;
            width: 80%;
            height: 80%;
            box-shadow: 2px 2px 10px $darkblue;
            border: 4px solid $darkblue;
        }

    }

    button {
        background: none;
        border: none;
    }

    .booking-text {
        height: 100vh;
        background-color: $red;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .booking-text-container {
            background: $body;
            padding: 50px;
    
            h2 {
                @include paragraphDM(3rem);
                color: $darkblue;
            }
    
            p {
                color: $darkblue;
            }
    
            p:last-child {
                color: $darkbrown;
                font-style: italic;
            }
        }
    }

}

// Royalties

.royalties {

    .royalties-header {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        h1 {
            @include heading(5rem);
            text-transform: uppercase;
            color: $darkblue;
            text-shadow: 10px 5px 3px $red;
        }
    }

    .royalties-header-container {
        background-color: $transbackground;
        padding: 50px;
        width: 70%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .royalties-image-container {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
        img {
            width: 100%;
            border-radius: 10px;
        }

        li {
            position: relative;
            transition: all .2s ease-in-out;
            opacity: 1;
            cursor: pointer;

            h5 {
                @include subHeading(3rem);
                color: white;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 25%;
                top: 25%;
                visibility: hidden;
                opacity: 0;
                transition: all .2s ease-in;
                width: 10%;
            }

        }

        li:hover,
        li:focus {
            transform: scale(1.1);

            h5 {
                visibility: visible;
                opacity: .7;
                margin-top: 0;
            }
        }
    }

    .royalties-videos {
        margin-top: 100px;
        margin-bottom: 0;
    }

    .royalties-video-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    
        li {
            padding-right: 40px;
        }

        .video-container {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $body;
            width: 80%;
            margin-bottom: 20%;
        }

        .andrew-karis-video, .camille-matthews-video {
            width: 70%;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;

            h4 {
                @include paragraphDM(3rem);
                color: $darkblue;

                span {
                    font-size: 2rem;
                    display: block;
                    padding-top: 10px;
                    opacity: .8;
                    font-style: italic;
                }
            }

            iframe {
                position: absolute;
                width: 100%;
                height: 70%;
                box-shadow: 2px 2px 10px $darkblue;
                border: 4px solid $darkblue;
            }
        }
    }

    .royalty-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin-top: 250px;

        h2 {
            color: $darkblue;
        }

        p {
            @include paragraphDM(2rem);
            color: $darkblue;
        }

        p:last-child {
            color: $darkbrown;
            font-style: italic;
        }
    }

    .royalty-text-container {
        width: 70%;
        background-color: $body;
        padding: 100px;
    }
}


// 404 page styles

.four-oh-four {
    background-image: url(../src/images/bottom-border.png);
    background-size: cover;
    height: 300px;
    width: 400px;
}